.card__title {
  padding: 10px 0;
  margin: 0;

  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #1A1B22;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 1024px) {
  .card__title {
    padding: 12px 0;

    font-size: 26px;
    line-height: 30px;
  }
}