@import url(_site/_fb/footer__social-link_site_fb.css);
@import url(_site/_github/footer__social-link_site_github.css);

.footer__social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .footer__social-link {
    width: 22px;
    height: 22px;
  }
}
