.footer__link-list {
  list-style-type: none;
  margin: 0 16px 0 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer__link-list {
    display: flex;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__link-list {
    margin-right: 28px;
  }
}