@import url(_closed/header__menu_closed.css);

@media screen and (max-width: 767px) {
  .header__menu {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
  }
}