.form__input {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  color: black;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  caret-color: #2F71E5;
}

.form__input::placeholder {
  color: #000000;
  opacity: 0.2;
}

.form__input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: black;
}